<div class="col-lg-8" *ngIf="identity">
  <h1 class='h1-strong' *ngIf="user">{{title +' '+ user.name}}</h1>

  <div class="people" *ngIf="followed">
    <div *ngFor="let follow of followed" class="item-user">
      <div class="panel panel-default" *ngIf="follow.user">
        <diV class="panel-body">
          <div class="image-user pull-left">
            <a href="#">
              <img src="{{url + 'image-user/' + follow.user.image}}" *ngIf="follow.user.image" />
              <img src="../../../assets/user-default.png" *ngIf="!follow.user.image" />
            </a>
          </div>
          <div class="user-name pull-left">
            <p class="name">
              <a [routerLink]="['/perfil', follow.user._id]">
                {{follow.user.name + ' '+ follow.user.surname}} | {{follow.user.nick}}
              </a>
            </p>
            <p class="nickname">
              {{follow.user.nick}}
            </p>
          </div>

          <div class="pull-right">
            <button class="btn  btn-success" *ngIf="follows.indexOf(follow.user._id) < 0"
              (click)="followUsers(follow.user._id)">
              Seguir
              <span class="glyphicon glyphicon-plus-sign"></span>
            </button>

            <button class="btn btn-primary" (mouseenter)="mouseEnter(follow.user._id)"
                    (mouseleave)="mouseLeave(follow.user._id)"
                    *ngIf="follows.indexOf(follow.user._id) >= 0"
                    (click)="unFollowUser(follow.user._id)"
                    [class.btn-danger]="following_aux == follow.user._id">
              <span *ngIf="following_aux == follow.user._id; else following_minus">
                Dejar de seguir
                <span class="glyphicon glyphicon-minus-sign"></span>
              </span>

              <ng-template #following_minus>
                <span>
                  Siguiendo
                  <span class="glyphicon glyphicon-ok-sign"></span>
                </span>
              </ng-template>
            </button>
          </div>
        </diV>
      </div>
    </div>

    <ul class="pagination pull-right">
      <li *ngIf="page > 1">
        <a [routerLink]="['/seguidores', this.userId, prev_page]">Anterior</a>
      </li>
      <li *ngIf="page != pages">
        <a [routerLink]="['/seguidores', this.userId, next_page]">Siguiente</a>
      </li>
    </ul>
  </div>

</div>

<app-sindebar></app-sindebar>

<div class="clearfix"></div>
