<diV class="col-lg-4 sidebar-32">
 <h1 class="h1-strong">Hola, {{identity.name}}</h1>
</diV>
<div id="user-card" class="col-lg-4 panel panel-default pull-left">
  <div class="avatar pull-left">
    <img src="{{ url + 'image-user/' + identity.image }}" *ngIf="identity.image">
    <img src="../../../assets/user-default.png" *ngIf="!identity.image">
  </div>

  <div class="name-surname pull-left">
    <a [routerLink]="['/perfil', identity._id]" class="username">
      {{ identity.name +' '+ identity.surname}}
    </a>
    <p class="nickname"> {{ identity.nick }}</p>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>

  <div class="stats" *ngIf="stats">
    <div class="following-data">
      <a [routerLink]="['/siguiendo', this.identity._id, 1]">
        <span class="label-stats">
           Siguiendo
        </span>
        <span class="number-stats">
          {{ stats.following }}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a [routerLink]="['/seguidores', this.identity._id, 1]">
        <span class="label-stats">
          Seguidores
        </span>
        <span class="number-stats">
           {{ stats.followers}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Publicaciones
        </span>
        <span class="number-stats">
          {{ stats.publications }}
        </span>
      </a>
    </div>
  </div>

</div>

<!-- Formulario Publicaciones -->
<div id="new-publication" class="col-lg-4 panel panel-default pull-right">
  <h5 class="h1-strong">Publicaciones</h5>
  <div class="alert alert-success" *ngIf="status === 'success'">
    La pulicacion se guardo :D
  </div>
  <div class="alert alert-success" *ngIf="status === 'error'">
      Error al guardar la publicacion :C
  </div>
  <form #newPubForm="ngForm"  (ngSubmit)="onSubmit(newPubForm, $event);" class="col-lg-10">
    <p>
      <label>¿Que estas pensando hoy?</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
      <span *ngIf="text.valid">
        Este campo es obligatorio
      </span>
    </p>
    <p>
      <label>Sube tu imagen</label>
      <input type="file" placeholder="Subir imagen" (change)="filechangeEvent($event)"/>
    </p>

    <input type="submit" value="Publicar"  class="btn btn-danger" [disabled]="!newPubForm.valid"/>
  </form>
</div>
